@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2>Big Words At The Top Of The Page With Improper Title Capitalization</h2>
    <p>Server Time: @DateTime.Now.ToShortTimeString()</p>
</div>
